.container {max-width: 1240px;width: 100%;margin: 0 auto;padding: 0 20px;}
.exchange-rates__error li {color: #991B1E;font-size: 16px;font-weight: 400;}
.exchange-rates {display: flex;flex-direction: column;gap: 20px;}
.exchange-rates__title {font-size: 20px;line-height: 1.5;}
.exchange-rates__list {display: flex;gap: 20px;flex-wrap: wrap;align-items: center;}
.exchange-rates__item {display: flex;gap: 5px;align-items: center;}
.exchange-rates__img {width: 100%;max-width: 50px;}
.exchange-rates__name {font-size: 18px;line-height: 1;}
.exchange-rates__value {font-size: 18px;line-height: 1;}